<h2>ON API social sample</h2>
<p>...</p>
<mat-divider></mat-divider>

<button mat-raised-button color="primary" (click)="onClickLoad()">Load</button>

<div *ngIf="fullName || email">
   <mat-divider></mat-divider>
   <mat-card class="mat-elevation-z8">
      <mat-card-header>
         <mat-card-title class="title">User details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <form>
            <div class="half-container">
               <mat-form-field>
                  <input matInput placeholder="Name" readonly="true" [value]="fullName" name="ud-name" />
               </mat-form-field>
            </div>

            <div class="half-container">
               <mat-form-field>
                  <input matInput placeholder="Email address" readonly="true" [value]="email" name="ud-email" />
               </mat-form-field>
            </div>
         </form>
      </mat-card-content>
   </mat-card>
</div>

<odin-sample-viewer sample="ionapi-social"></odin-sample-viewer>
