<div class="header-container">
   <h2>Customer sample</h2>
   <p>
      Master detail using CRS610MI, where the datagrid uses the transaction 'LstByNumber' (100 records). The detail view uses 'GetBasicData'
      to retreive the item details, and updates the item using 'ChgBasicData' ...
   </p>
   <mat-divider></mat-divider>
</div>

<!-- Table -->
<div class="content-container mat-elevation-z8">
   <mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox column -->
      <ng-container matColumnDef="select">
         <mat-header-cell *matHeaderCellDef></mat-header-cell>
         <mat-cell *matCellDef="let row">
            <mat-checkbox (change)="$event ? onSelected(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
         </mat-cell>
      </ng-container>

      <!-- Number column -->
      <ng-container matColumnDef="CUNO">
         <mat-header-cell *matHeaderCellDef mat-sort-header>Number</mat-header-cell>
         <mat-cell *matCellDef="let item">{{item.CUNO}}</mat-cell>
      </ng-container>

      <!-- Name column -->
      <ng-container matColumnDef="CUNM">
         <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
         <mat-cell *matCellDef="let item">{{item.CUNM}}</mat-cell>
      </ng-container>

      <!-- Address 1 column -->
      <ng-container matColumnDef="TOWN">
         <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
         <mat-cell *matCellDef="let item">{{item.TOWN}}</mat-cell>
      </ng-container>

      <!-- Address 2 column -->
      <ng-container matColumnDef="CUA1">
         <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
         <mat-cell *matCellDef="let item">{{item.CUA1}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>

   <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
</div>

<!-- Loading -->
<div class="loading-container" *ngIf="isBusy">
   <mat-spinner></mat-spinner>
</div>

<!-- Detail -->
<mat-card *ngIf="selection.hasValue() && !isBusy && detailItem" class="mat-elevation-z8">
   <mat-card-header>
      <mat-card-title class="title">Customer details</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <form>
         <div class="half-container">
            <mat-form-field>
               <input matInput placeholder="Number" readonly="true" [value]="detailItem.CUNO" name="di-cuno" />
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Name" [(ngModel)]="detailItem.CUNM" [value]="detailItem.CUNM" name="di-cumn" />
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="City" [(ngModel)]="detailItem.TOWN" [value]="detailItem.TOWN" name="di-town" />
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Country" [(ngModel)]="detailItem.CSCD" [value]="detailItem.CSCD" name="di-cscd" />
            </mat-form-field>
         </div>

         <div class="half-container">
            <mat-form-field>
               <input matInput placeholder="Address 1" [(ngModel)]="detailItem.CUA1" [value]="detailItem.CUA1" name="di-cua1" />
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Address 2" [(ngModel)]="detailItem.CUA2" [value]="detailItem.CUA2" name="di-cua2" />
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Address 3" [(ngModel)]="detailItem.CUA3" [value]="detailItem.CUA3" name="di-cua3" />
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Address 4" [(ngModel)]="detailItem.CUA4" [value]="detailItem.CUA4" name="di-cua4" />
            </mat-form-field>
         </div>
      </form>

      <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
   </mat-card-content>
</mat-card>

<odin-sample-viewer sample="customer"></odin-sample-viewer>
