<div class="full-width full-height scrollable-flex">
   <div>
      <h1>Bookmark sample</h1>
      <p>Stateless detail bookmark (CRS610/E) ...</p>
      <hr class="fieldset-hr" />

      <label for="ods-cuno" class="required">Customer number (CUNO)</label>
      <input
         id="ods-cuno"
         name="ods-cuno"
         type="text"
         [(ngModel)]="CUNO"
         maxlength="10"
         aria-required="true"
         data-validate="required"
         required
      />
      <button
         type="button"
         class="btn-primary form-btn"
         soho-button="primary"
         (click)="onClickOpen()"
         [disabled]="!isEnabled()"
      >
         Open
      </button>
   </div>

   <div *ngIf="controlInfos">
      <hr class="fieldset-hr" />
      <div class="row card">
         <div class="twelve columns">
            <div class="field">
               <h1>Customer details</h1>
            </div>
         </div>
         <odin-panel-detail
            columns="3"
            [formData]="controlInfos"
         ></odin-panel-detail>
      </div>
   </div>
</div>

<odin-sample-viewer sample="bookmark"></odin-sample-viewer>
