<mat-card>
   <mat-card-title>User Context</mat-card-title>
   <mat-card-subtitle>Click the Load button to show all M3 user context values current values that will differ if running within H5 and for
      example the company has been changed.</mat-card-subtitle>
   <mat-card-content>
      <mat-spinner *ngIf="isBusy"></mat-spinner>
      <div class="form-container" *ngIf="company && !isBusy">
         <div class="form-row">
            <mat-form-field>
               <input matInput placeholder="Company" [(ngModel)]="company" readonly>
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Current Company" [(ngModel)]="currentCompany" readonly>
            </mat-form-field>
         </div>
         <div class="form-row">
            <mat-form-field>
               <input matInput placeholder="Division" [(ngModel)]="division" readonly>
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Current Division" [(ngModel)]="currentDivision" readonly>
            </mat-form-field>
         </div>
         <div class="form-row">
            <mat-form-field>
               <input matInput placeholder="Language" [(ngModel)]="language" readonly>
            </mat-form-field>
            <mat-form-field>
               <input matInput placeholder="Current Language" [(ngModel)]="currentLanguage" readonly>
            </mat-form-field>
         </div>
      </div>
   </mat-card-content>
   <mat-card-actions>
      <button mat-button color="primary" (click)="onClickLoad()">Load</button>
   </mat-card-actions>
</mat-card>