<div soho-tabs>
   <div soho-tab-list-container>
      <ul soho-tab-list>
         <li soho-tab>
            <a soho-tab-title tabId="tab-html">HTML</a>
         </li>
         <li soho-tab>
            <a soho-tab-title tabId="tab-ts">TS</a>
         </li>
         <li soho-tab>
            <a soho-tab-title tabId="tab-css">CSS</a>
         </li>
         <li *ngIf="service" soho-tab>
            <a soho-tab-title tabId="tab-service">Service</a>
         </li>
      </ul>
   </div>
</div>

<div soho-tab-panel-container>
   <div soho-tab-panel tabId="tab-html">
      <odin-document-viewer
         [documentUrl]="getSampleUrl('HTML')"
      ></odin-document-viewer>
   </div>
   <div soho-tab-panel tabId="tab-ts">
      <odin-document-viewer
         [documentUrl]="getSampleUrl('TS')"
      ></odin-document-viewer>
   </div>
   <div soho-tab-panel tabId="tab-css">
      <odin-document-viewer
         [documentUrl]="getSampleUrl('CSS')"
      ></odin-document-viewer>
   </div>
   <div *ngIf="service" soho-tab-panel tabId="tab-service">
      <odin-document-viewer
         [documentUrl]="getServiceUrl()"
      ></odin-document-viewer>
   </div>
</div>
