<h2>Log sample</h2>
<p>
   Illustrates usage of available log methods and levels, as well as an output
   container inline in the web page.
</p>
<mat-divider></mat-divider>

<div class="button-row">
   <button mat-raised-button color="primary" (click)="onClickDebug()">
      Debug log
   </button>
   <button mat-raised-button color="secondary" (click)="onClickInfo()">
      Info log
   </button>
   <button mat-raised-button color="accent" (click)="onClickWarning()">
      Warning log
   </button>
   <button mat-raised-button color="warn" (click)="onClickError()">
      Error log
   </button>
   <button
      mat-icon-button
      matTooltip="Clear output"
      matTooltipPosition="above"
      (click)="onClickClear()"
      [disabled]="!logs.length"
   >
      <mat-icon aria-label="Clear output">delete_forever</mat-icon>
   </button>
</div>

<div *ngIf="logs.length">
   <mat-divider></mat-divider>
   <mat-card class="mat-elevation-z8">
      <mat-card-header>
         <mat-card-title class="title">Inline output</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <div *ngFor="let item of logs" class="twelve columns">
            <div
               [ngClass]="{
                  error: item.type === 'ERROR',
                  warning: item.type === 'WARNING'
               }"
            >
               [{{ item.timestamp | date : 'HH:mm:ss,SS' }}]
               <b>[{{ item.type }}]</b>
               {{ item.message }}
            </div>
         </div>
      </mat-card-content>
   </mat-card>
</div>

<odin-sample-viewer sample="log"></odin-sample-viewer>
