:host {
   display: flex;
   flex-direction: column;
   max-height: 100%;
}

.header-container {
   flex: 0 0 auto;
}

.loading-container {
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 1;
}

.content-container {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   padding: 0;
}

.content-container.is-loading {
   opacity: 0.5;
}

.mat-table {
   overflow: auto;
}
