<h2>Search sample</h2>
<p>Stateless item search (MMS001/B) ...</p>
<mat-divider></mat-divider>

<mat-form-field>
   <input matInput placeholder="Query" maxlength="256" [(ngModel)]="query" name="search-query" />
</mat-form-field>
<button mat-raised-button color="primary" (click)="onClickSearch()" [disabled]="!isEnabled()" class="inline-btn">Search</button>

<div *ngIf="results.length">
   <mat-divider></mat-divider>
   <mat-card class="mat-elevation-z8">
      <mat-card-header>
         <mat-card-title class="title">Search result</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <mat-grid-list cols="4" rowHeight="75px">
            <mat-grid-tile *ngFor="let result of results" colspan="1" rowspan="1">
               <div>
                  Name:
                  <span>{{getValue(result, 1)}}</span>
               </div>
               <div>
                  Number:
                  <span>{{getValue(result, 0)}}</span>
               </div>
               <div>
                  Status:
                  <span>{{getValue(result, 2)}}</span>
               </div>
            </mat-grid-tile>
         </mat-grid-list>
      </mat-card-content>
   </mat-card>
</div>

<odin-sample-viewer sample="search"></odin-sample-viewer>
