<div class="mat-app-background">
   <div class="container" [class.is-mobile]="mobileQuery.matches">
      <mat-toolbar color="primary" class="toolbar">
         <button mat-icon-button (click)="sideNav.toggle()">
            <mat-icon>menu</mat-icon>
         </button>
         <h1 class="app-name">{{title}}</h1>
      </mat-toolbar>

      <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
         <mat-sidenav #sideNav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
               <a mat-list-item routerLink="home">
                  <mat-icon>home</mat-icon>
                  <span class="sidenav-title">Home</span>
               </a>
               <a mat-list-item routerLink="bookmark">
                  <mat-icon>bookmark</mat-icon>
                  <span class="sidenav-title">Bookmark</span>
               </a>
               <a mat-list-item routerLink="customer">
                  <mat-icon>contacts</mat-icon>
                  <span class="sidenav-title">Customer</span>
               </a>
               <a mat-list-item routerLink="formatting">
                  <mat-icon>calendar_today</mat-icon>
                  <span class="sidenav-title">Date & number formatting</span>
               </a>
               <a mat-list-item routerLink="idm">
                  <mat-icon>insert_drive_file</mat-icon>
                  <span class="sidenav-title">IDM</span>
               </a>
               <a mat-list-item routerLink="infinite-paging">
                  <mat-icon>cached</mat-icon>
                  <span class="sidenav-title">Infinite paging</span>
               </a>
               <a mat-list-item routerLink="ionapi-social">
                  <mat-icon>face</mat-icon>
                  <span class="sidenav-title">ION API social</span>
               </a>
               <a mat-list-item routerLink="launch">
                  <mat-icon>launch</mat-icon>
                  <span class="sidenav-title">Launch</span>
               </a>
               <a mat-list-item routerLink="log">
                  <mat-icon>error_outline</mat-icon>
                  <span class="sidenav-title">Log</span>
               </a>
               <a mat-list-item routerLink="search">
                  <mat-icon>search</mat-icon>
                  <span class="sidenav-title">Search</span>
               </a>
               <a mat-list-item routerLink="user-context">
                  <mat-icon>person</mat-icon>
                  <span class="sidenav-title">User context</span>
               </a>
            </mat-nav-list>
         </mat-sidenav>

         <mat-sidenav-content class="content-container">
            <router-outlet></router-outlet>
         </mat-sidenav-content>
      </mat-sidenav-container>
   </div>
</div>
