odin-app .sample-viewer-button {
   position: absolute !important;
   top: 0 !important;
   right: 0 !important;
}

odin-app .container {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

odin-app .toolbar {
   margin: 0;
}

odin-app .toolbar .is-mobile {
   position: fixed;
   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
   z-index: 2;
}

odin-app h1.app-name {
   margin-left: 8px;
   color: white;
}

odin-app .mat-sidenav {
   min-width: 200px;
   background-color: lightgrey;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

odin-app .sidenav-container {
   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
		causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
   flex: 1;
}

odin-app .sidenav-container .is-mobile {
   /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
		`<body>` to be our scrolling element for mobile layouts. */
   flex: 1 0 auto;
}

odin-app .sidenav-title {
   margin-left: 5px;
}

odin-app .content-container {
   height: calc(100% - 40px);
   padding: 20px;
}

odin-app {
   font-family: Roboto, 'Helvetica Neue', sans-serif;
}

odin-app .mat-divider {
   margin: 20px 0;
}

odin-app .inline-btn {
   margin-left: 10px;
}

odin-app .mat-card .title {
   font-size: 24px;
}

odin-app .mat-card-content {
   margin: 0 8px;
}

odin-app form {
   display: flex;
   flex-direction: row;
}

odin-app form .half-container {
   display: flex;
   flex-direction: column;
   width: 50%;
}

odin-app form .half-container:not(:last-child) {
   padding-right: 20px;
}

odin-app form .mat-form-field-infix {
   width: auto;
}

odin-app .mat-grid-tile .mat-figure {
   flex-direction: column;
   align-items: normal;
}
