<h2>Date & number formatting sample</h2>
<p>...</p>
<mat-divider></mat-divider>

<div *ngIf="isInitialized">
   <mat-card class="mat-elevation-z8">
      <mat-card-header>
         <mat-card-title class="title">Date formats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <div>M3 date format (DTFM): {{ m3DateFormat }}</div>
         <div>M3 date format (standardized): {{ dateFormat }}</div>
         <div>Today (M3 format): {{ today | date : dateFormat }}</div>
         <div>Today (ISO format): {{ today | date : "yyyy-MM-dd" }}</div>
         <div>Today (locale format): {{ today | date : "shortDate" }}</div>
         <div>
            M3 short date string pipe conversion:
            {{ shortDateString1 | m3date : "fromString" | date : "yyyy-MM-dd" }}
         </div>
         <div>
            M3 short date string pipe conversion:
            {{ shortDateString2 | m3date : "fromString" | date : "yyyy-MM-dd" }}
         </div>
         <div>
            M3 short date string pipe conversion:
            {{ shortDateString3 | m3date : "fromString" | date : "yyyy-MM-dd" }}
         </div>
      </mat-card-content>
   </mat-card>
</div>

<odin-sample-viewer sample="formatting"></odin-sample-viewer>
